# =====================
# PYTHON
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env

# =====================
# FLASK
# =====================
instance/
.webassets-cache

# =====================
# LOGS
# =====================
*.log

# =====================
# NODE / REACT
# =====================
node_modules/
dist/
build/

# logs do node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# VITE
# =====================
.vite/

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# SISTEMA OPERACIONAL
# =====================
.DS_Store
Thumbs.db